header {
    background: #fff;
    width: 100%;
    border-bottom: 2px solid #111111;
    z-index: 100;
    position: relative;
}

.title-logo {
    float: right;
    display: block;
    font-size: 4em;
    padding: 0.3em;
    text-transform:capitalize;
    font-variant:small-caps;
    font-weight: normal;
    font-family:serif;
    letter-spacing: 4px;
}

#menu-icon {
    color: #111;
    padding: 1em;
    display: block;
}

#menu-icon i {
    font-size: 4em;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    float: left;
    padding: 0.5em;
    font-size: 3em;
}

nav ul {
    width: 100%;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
}

nav h4 {
    padding-bottom: 0.1em;
}

nav ul fieldset label {
    padding-left: 0.5em;
}

nav ul, nav:active ul {
    background: rgba(255,255,255,0.8);
    left: 0;
    
    -webkit-transition: opacity .3s, max-height .3s; /* For Safari 3.1 to 6.0 */
    transition: opacity .3s, max-height .3s;
}

nav li {
    width: 100%;
    padding: 0.5em 1em;
    margin: 0;
}

nav.open ul {
    display: block;
    opacity: 1;
    height: auto;
    max-height: 2000px;
}